.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
   
}
.input-box{
    padding:15px;
    border-radius: 25px;
    margin:10px 0px 5px 10px;
    border:1px rgb(214, 206, 206) solid;
    
}
#login-btn{
    padding:12px 28px;
    border-radius: 20px;
    background-color: rgb(108, 199, 161);
    color:whitesmoke;
    border:none;
}
#signup-btn{
    padding:12px 28px;
    border-radius: 20px;
    background-color: transparent;
    border:1px rgb(214, 206, 206) solid;
    margin-left: 5px;
}
.button-design{
    padding:10px 28px;
    border-radius: 22px;
    background-color: transparent;
    border:1px rgb(214, 206, 206) solid;
    margin-left: 5px;

}

