.box{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 25px;
    margin-bottom:30px;
}
#pay-btn{
    padding:12px 28px;
    border-radius: 20px;
    background-color: transparent;
    border:1px rgb(214, 206, 206) solid;
    margin-left: 20px;
}
#shopping-btn{
    padding:12px 28px;
    border-radius: 20px;
    background-color: rgb(108, 199, 161);
    color:whitesmoke;
    border:none;
    margin-left:20px;
}